.button {
	-fx-background-color: transparent;
	-fx-background-image: url("../views/assets/Activate.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 16 16;
	-fx-background-position: center;
}

.button:hover {
	-fx-background-color: rgba(5, 250, 50, .3);
}