.button {
	-fx-background-color: transparent;
	-fx-background-image: url("../views/assets/deactivate.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 16 16;
	-fx-background-position: center;
}

.button:hover {
	-fx-background-color: rgba(250, 5, 5, .3);
}