.label {
	-fx-text-fill: white;
}

.list-view .list-cell {
	-fx-background-color: #45484c;
	-fx-text-fill: white;
}

.list-cell:filled:selected, .split-pane .list-view .list-cell:filled:focused {
	-fx-background-color: #b274cc;
	-fx-text-fill: white;
}

.titled-pane {
	-fx-background-color: #45484c;
	-fx-text-fill: white;
}

.titled-pane > .title {
	-fx-background-color: #323233;
	-fx-text-fill: white;
}

.titled-pane > *.content {
	-fx-border-color: #323233;
	-fx-background-color: #45484c;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: purple;
	-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
	-fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow {
	-fx-background-color: #b274cc;
}

.text-field {
	-fx-background-color: linear-gradient(to bottom, derive(white, -10%), white),
    linear-gradient(from 0px 0px to 0px 5px, derive(#45484c, -9%), #45484c);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
	-fx-text-fill: white;
}

.text-field:focused {
	-fx-background-color: linear-gradient(to bottom, derive(#b274cc, -10%), #b274cc),
    linear-gradient(from 0px 0px to 0px 5px, derive(#45484c, -9%), #45484c);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3, 2;
	-fx-text-fill: white;
}

.combo-box {
	-fx-background-color: #323233;
	-fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
	-fx-background-color: #b274cc;
	-fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell {
	-fx-background-color: #45484c;
	-fx-text-fill: white;
}

.combo-box .cell:selected {
	-fx-background-color: #323233;
	-fx-text-fill: white;
}