#statusText {
	-fx-background-color: transparent;
	-fx-text-alignment: left;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#progress {
	-fx-box-border: transparent;
}

.normal {
	-fx-accent: rgba(70, 130, 180, .8);
}

.good {
	-fx-accent: rgba(124, 252, 0, .8);
}

.warning {
	-fx-accent: rgba(255, 255, 0, .8);
}

.error {
	-fx-accent: rgba(255, 0, 0, .8);
}